Source: ros-kinetic-rb1-base-sim
Section: misc
Priority: extra
Maintainer: Roberto Guzmán <rguzman@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/rb1_base_sim
Standards-Version: 3.9.2

Package: ros-kinetic-rb1-base-sim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rb1-base-2dnav, ros-kinetic-rb1-base-control, ros-kinetic-rb1-base-gazebo, ros-kinetic-rb1-base-purepursuit
Description: The rb1_base_sim metapackage
