Source: ros-indigo-rb1-base-2dnav
Section: misc
Priority: extra
Maintainer: Roberto Guzmán <rguzman@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/rb1_base_2dnav
Standards-Version: 3.9.2

Package: ros-indigo-rb1-base-2dnav
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-amcl, ros-indigo-gmapping, ros-indigo-map-server, ros-indigo-message-runtime, ros-indigo-move-base, ros-indigo-robot-pose-ekf, ros-indigo-rviz, ros-indigo-std-msgs, ros-indigo-tf
Description: This package configures the move_base stack and makes use of the gmapping and amcl algorithms to move the rb1_base robot
